#home > canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #191d1e 50%, #283139 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d1e', endColorstr='#283139',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-attachment: fixed;
  -webkit-mask-image: linear-gradient(to bottom, transparent, white, transparent);
}

#home main {
  z-index: 1;
  position: relative;
}

#home main > header {
  margin: 0;
  padding: 0 5vh;
  line-height: 5vh;
  box-sizing: border-box;
  color: transparent;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, #0061e0, #00ddff);
  -webkit-background-clip: text;
}

#home main > header.comms {
  margin: 0;
  padding: 0 5vh;
  line-height: 5vh;
  box-sizing: border-box;
  color: transparent;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, #604080, #ff6040);
  -webkit-background-clip: text;
}

#home main > header:first-child {
  padding: 5vh 5vh 0;
}

#home-installed {
  width: 100%;
  height: calc(45vh + 1rem);
  margin: 0;
  padding: 1rem 5vh 5vh;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: auto;
  display: block;
  white-space: nowrap;
}

.card {
  height: 40vh;
  aspect-ratio: 3 / 5;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.25);
  position: relative;
  display: inline-block;
  margin-inline-end: 1.5rem;
  background: #a6a6a6;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 2.5vh 5vh rgba(0,0,0,0.5);
  z-index: 1;
}

.card:first-child {
  height: 40vh;
  aspect-ratio: 9 / 5;
}

.card > .keyart {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card > .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  color: #fff;
  background: linear-gradient(to bottom, transparent, rgba(51,51,51,0.75));
}

.card > .content .name {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card > .content .description {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}