#statusbar {
  background: var(--theme-color, #101214);
  transition: background 0.3s ease;
}

.statusbar {
  height: 4rem;
  display: flex;
  padding: 0 1rem;
  box-sizing: border-box;
}

.statusbar > div {
  padding: 0 1rem;
  height: 4rem;
  line-height: 4rem;
  color: #e7e7e7;
  font-size: 1.6rem;
  font-weight: bold;
}

#screen.light .statusbar > div {
  color: #333;
}

.statusbar > div[data-icon]:before {
  font-size: 2rem;
}